@charset "UTF-8";
/**
 * editor
 * @authors Amos (szhcool1129@sina.com)
 * @date    2017-11-14 17:08:43
 * @version $Id$
 */

html,body,div,p,ul,li,form,em,img{margin: 0;padding: 0;}
li{list-style: none;}
.left-menu{position: fixed;width: 100px;}
.left-menu li{height: 35px;line-height: 35px;text-align: center;cursor: pointer;}
.left-menu li:hover, .left-menu li.active{background-color: green;color: #fff;}
.content{position: absolute;top: 0;left: 105px;}
.global-color{position: fixed;border: 1px solid #eee;overflow: hidden;padding: 2px;box-sizing: border-box;background-color: #fff;}
.global-color li{width: 20px;height: 20px;margin: 2px;float: left;cursor: pointer;border-radius: 5px;}
.list{margin-top: 10px;}
.list li{cursor: pointer;box-sizing: border-box;background-color: #fff;margin-top: 3px;border-radius: 5px;padding: 3px;}
.list li:first-child{margin-top: 0;}
.list li:hover{background-color: #f54343;}
.list li section{zoom: 1 !important;}

.sub-cate{margin-top: 60px;overflow: hidden;}
.sub-cate li{float: left;padding: 2px 8px;margin: 2px;border-radius: 5px;cursor: pointer;border: 1px solid #ddd;}
.sub-cate li:hover,.sub-cate li.active{background-color: #FF8124;color: #fff;}
