@charset "UTF-8";
/**
 * 首页样式
 * @authors Amos (735767227@qq.com)
 * @date    2017-08-18 09:13:16
 * @version $Id$
 */
.nav-title{height: 35px;line-height: 35px;}
.nav-title li{float: left;margin-left: 5px;}
.nav-title li:first-child{margin-left: 0;}
.nav-title li:after{content: " > "}
.left{float: left; width: 750px;margin-right: 10px;}
.right{float: left; width: 340px;height: 300px;}

.article .title{font-size: 24px;font-weight: bold;margin-top: 20px;}
.article-attr{margin-top: 10px; font-size: 14px;}
.article-attr span{display: inline-block;margin-right: 15px;color: #999;}
.article .abstract{font-size: 14px;line-height: 25px; padding: 10px 20px;margin-top: 10px; background-color: #f7f7f7;}